<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="health-gforms.ZPM">
    <Module>
      <Name>health-gforms</Name>
      <Version>1.0.0</Version>
      <Description>Collect data using Google Forms and save into FHIR Repository</Description>
      <Keywords>FHIR,Server,Google,Forms</Keywords>
      <Packaging>module</Packaging>
      <SystemRequirements Interoperability="enabled" Health="true"/>
    <Default Name="name" Value="FHIRSERVER" />
    <Default Name="Webapp" Value="/fhir/r4" />
    <Default Name="AddTestData" Value="1" />
    <SourcesRoot>src</SourcesRoot>
    <Invokes>
    <Invoke Class="fhirtemplate.Setup" Method="SetupFHIRServer" Phase="Activate" When="After" >
      <Arg>${name}</Arg>
      <Arg>${Webapp}</Arg>
      <Arg>${AddTestData}</Arg>
     </Invoke>
    </Invokes>
    <Resource Name="fhirtemplate.PKG"/>
    <Resource Name="User.PKG"/>
    <Resource Name="FHIR.PKG"/>
    <Dependencies>
      <ModuleReference>
        <Name>swagger-ui</Name>
        <Version>1.*.*</Version>
      </ModuleReference>
    </Dependencies>
    <FileCopy Name="data/fhir/" Target="${mgrdir}test-data-fhir/"/>
    <CSPApplication
      Url="/fhirUI"
      SourcePath="/fhirUI"
      DeployPath="{$cspdir}/fhirUI"
      ServeFiles="1"
      Recurse="1"
      CookiePath="/fhirUI"
    />
    <CSPApplication 
        Url="/health-gforms"
        DispatchClass="User.GFormsAPI"
        MatchRoles=":{$dbrole}"
        PasswordAuthEnabled="1"
        UnauthenticatedEnabled="0"
        Recurse="1"
        UseCookies="2"
        CookiePath="/health-gforms"
    />
    <AfterInstallMessage>
      &#13;You can change the default settings
      &#13;Name - to alter created/modified namespace (now/default FHIRSERVER)
      &#13;AddTestData - import some test data to the FHIR server, otherwise don't
      &#13;Webapp - provide the name for the web application to expose R4 API. /fhir/r4 is by default
      &#13;USER>zpm "install fhir-server -Dzpm.name=ALTERFHIRSERVER -Dzpm.Webapp=/fhir/r7 -Dzpm.AddTestData=0"
    </AfterInstallMessage>
  </Module>
 </Document>
</Export>
